.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  background-color: #fff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0) rotate(-180deg);
  height: 50%;
}
.sidebar.closed {
  transform: translateX(100%) rotate(-180deg);
}

.sideArrowTop {
  position: absolute;
  top: 44.5%;
  left: 96%;
  cursor: pointer;
}

.arrowReverse {
  transform: rotate(-180deg);
  transition: transform 0.5s ease-in-out;
}

.goBackArrow {
  transition: transform 0.5s ease-in-out;
}

.sidebar2 {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: #fff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  height: 50%;
}

.sidebar2.closed {
  transform: translateX(-100%);
}

.arrowReverse2 {
  transform: rotate(-180deg);
  transition: transform 0.5s ease-in-out;
}

.goBackArrow2 {
  transition: transform 0.5s ease-in-out;
}

.sideArrowBottom {
  position: absolute;
  top: 44.5%;
  left: 96%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  
  .sideArrowBottom {
    position: absolute;
    top: 44.1%;
    left: 99%;
    cursor: pointer;
  }
  
  

}
