.arrow {
  background: url(/flechaselect.png) no-repeat;
  background-position: relative;
  background-position-x: 95%;
  background-position-y: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 8rem;
  background-color: white;
  padding-left: 0.5rem;
  cursor: pointer;
}

.background {
  background-color: rgb(6, 14, 30);
}

