.arrow {
  background: url(/flechaselect.png) no-repeat;
  background-position: relative;
  background-position-x: 95%;
  background-position-y: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 8rem;
  background-color: white;
  padding-left: 0.5rem;
  cursor: pointer;
}

.background {
  background-color: rgb(6, 14, 30);
}

.magicLogo {
  animation: moving 2s 0s ease-in-out;
}

@keyframes moving {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes movingBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.magicElements {
  animation: movingBottom 1.5s 0s ease-in-out;
}

.white {
  height: 0;
}

.select{
  animation: select 3s ease-in-out;
}

@keyframes select {
  0%{
    opacity: 0;
  }
  
  50%{
    opacity: 0.1;
  }
 
  100%{
    opacity: 1;
  }
}


.languages{
  animation: languages 4s ease-in-out;
}

@keyframes languages {
  0%{
    opacity: 0;
  }
  
  50%{
    opacity: 0.01;
  }
 
  100%{
    opacity: 1;
  }
}